.jumbotron{
    background-color: #4BA3ED;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #4BA3ED;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}