@skyBlue: #4BA3ED;

.margenes(@top:0px, @botton:0px){
    margin-top: @top;
    margin-bottom: @botton;
}

.jumbotron{
    background-color: @skyBlue;
    color: black;
    .margenes(50px, 15px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @skyBlue;
    .margenes(10px, 0px)
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px)
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content {
    padding-top: 10px;
}